
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #fdc5ce; 
    border-bottom: 1px solid #dcb0b7;
}

.header-left a, 
.header-right a {
    color: #333;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-logo a {
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, Georgia, serif; 
}

.header-right {
    display: flex;
    gap: 18px; 
}


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #effdfd;; 
    font-family: "Times New Roman", Times, Georgia, serif;
}


.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    pointer-events: none;
}

.side-menu.active {
    visibility: visible;
    pointer-events: auto;
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px; 
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    background: #effdfd; 
}

.side-menu.active .menu-content {
    transform: translateX(0);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fdc5ce; 
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 1.1rem;
    color: #333;
}

.menu-header .close-btn {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px;
}

.menu-item {
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #f3e6f8; 
    text-align: center;
    padding: 12px;
    border-radius: 8px; 
    border: 1px solid #e1cfea;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, Georgia, serif;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: #ebd3f5;
}